################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Hackathorn2024/.vs/Hackathorn2024
/src/Hackathorn2024/Hackathorn2024.Server/obj
/src/Hackathorn2024/hackathorn2024.client/.vscode
/src/Hackathorn2024/.vs/ProjectEvaluation
